<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scrape The Latest</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/style.css">
  <script type="text/javascript" src="/javascript/home.js"></script>
  <script type="text/javascript" src="/javascript/saved.js"></script>
</head>
  
<body background="https://fbinstantarticles.files.wordpress.com/2016/05/screen_monetization_mobile.jpg">

    <div>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#"><i class="fa fa-refresh fa-spin" style="font-size:24px"></i>Scrape The Latest</h1>
                    </a>
                    <a href="#" style="font-size:22px">Home</a>
                    <a href="#" style="font-size:22px">Saved Article</a>
                    <a href="#" style="font-size:22px">Scrape Article</a>
      </div>
   </div>
  </div>
</nav>

       


    </body>